* {

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:
    'Segoe UI', sans-serif;

}



body {

    background:#f4f6f9;

}



.layout {

    display:flex;

    min-height:100vh;

}



/* MENU */

.sidebar {

    width:250px;

    background:#1f2937;

    color:white;

    padding:25px;

}



.logo {

    margin-bottom:40px;

}



.sidebar nav a {

    display:block;

    color:white;

    text-decoration:none;

    padding:14px;

    border-radius:10px;

    margin-bottom:10px;

    transition:.3s;

}



.sidebar nav a:hover {

    background:#374151;

}





/* CONTENIDO */


.content {

    flex:1;

    padding:30px;

}


.topbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.user{

    display:flex;

    align-items:center;

    gap:12px;

    background:#fff;

    padding:10px 18px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.user i:first-child{

    color:#374151;

    font-size:18px;

}

.user span{

    font-weight:500;

    color:#374151;

}

#btnLogout{

    border:none;

    background:transparent;

    cursor:pointer;

    color:#dc2626;

    font-size:18px;

    padding:6px;

    transition:.2s;

}

#btnLogout:hover{

    color:#b91c1c;

    transform:scale(1.1);

}


/* CARDS */


.cards {

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:20px;

}



.card {

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:
    0 8px 20px rgba(0,0,0,.08);

}



.card h3 {

    color:#666;

    font-size:15px;

}



.card span {

    display:block;

    margin-top:15px;

    font-size:32px;

    font-weight:bold;

}

.user{

    display:flex;

    align-items:center;

    gap:15px;

    background:white;

    padding:12px 20px;

    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.user button{

    border:none;

    background:none;

    cursor:pointer;

    color:#e74c3c;

    font-size:18px;

}



.panel {

    margin-top:30px;

    background:white;

    padding:25px;

    border-radius:15px;

}

.sidebar nav a {

    display:flex;

    align-items:center;

    gap:15px;

    color:white;

    text-decoration:none;

    padding:14px;

    border-radius:10px;

    margin-bottom:10px;

    transition:.3s;

}


.sidebar nav a i {

    width:22px;

    font-size:18px;

}



.sidebar nav a:hover {

    background:#374151;

}